* {
  --page-bottom-left-height: var(--page-child-height-bottom);
  --page-bottom-left-width: calc(var(--width) * 3 / 5);

  --controls-container-height: calc(var(--page-child-height-bottom) * 3 / 5);
  --controls-container-width: calc(var(--page-bottom-left-width) * 6 / 7);
}

.controls-container {
  height: var(--controls-container-height);
  width: var(--controls-container-width);
  align-self: center;
  /*Container for all Control components*/
  display: flex;
}

.algo-buttons-container {
  background-color: var(--secondary);
  border-radius: 10px;
  height: var(--controls-container-height);
  width: calc(var(--controls-container-width) * 2 / 3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: calc(var(--space) * 2);
}

.sliders {
  background-color: var(--secondary);
  border-radius: 10px;
  height: var(--controls-container-height);
  width: calc(var(--controls-container-width) * 1 / 3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
