* {
  font-family: 'RobotoCondensed', sans-serif;
  margin: 0px;
  padding: 0px;

  /*-------Colors-------*/
  --primary: #6da7fe;
  --secondary: #ffcb77;
  --secondary-accent: #fbb94f;
  --green: #4bb575;
  --green-accent: #7cc8b1;
  --red: #fe7d7d;
  --red-accent: #fb9b43;

  /*-----General Vars----*/
  --width: 100vw;
  --space-between: 5px;
  --space: 10px;

  /*------Page Vars------*/
  --page-height: calc(99vh - var(--nav-bar-height));
  --page-child-height-top: calc(var(--page-height) * 2 / 3);
  --page-child-height-bottom: calc(var(--page-height) * 1 / 3);
  --page-bottom-mid-width: calc(var(--width) * 1 / 5);

  /*-----Button Vars-----*/
  --btn-container-height: calc(var(--page-child-height-bottom) / 2);
  --btn-container-width: calc(var(--page-bottom-mid-width) / 2);

  --btn-padding: calc(var(--btn-container-width) / 7);
  --btn-font-size: calc(var(--btn-container-width) / 7);
}

.page {
  height: var(--page-height);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*Page Top*/
.page-top {
  display: flex;
  height: var(--page-child-height-top);
}

.page-top-left {
  background-color: var(--secondary);
  margin: var(--space);
  width: calc(var(--width) * 1 / 4);
}

.page-top-right {
  background-color: var(--primary);
  margin: var(--space) var(--space) var(--space) 0;
  width: calc(var(--width) * 3 / 4);
}

/*Page Bottom*/
.page-bottom {
  display: flex;
  height: var(--page-child-height-bottom);
}

.page-bottom-left {
  background-color: var(--primary);
  height: var(--page-child-height-bottom);
  width: calc(var(--width) * 3 / 5);
  margin: 0 var(--space) var(--space) var(--space);
  /*Container for the Controls container*/
  display: flex;
  justify-content: center;
}

.page-bottom-mid {
  background-color: var(--secondary);
  height: var(--page-child-height-bottom);
  width: var(--page-bottom-mid-width);
  margin: 0 var(--space) var(--space) 0;
  display: flex;
  justify-content: center;
}

.page-bottom-right {
  background-color: var(--secondary);
  height: var(--page-child-height-bottom);
  width: calc(var(--width) * 1 / 5);
  margin: 0 var(--space) var(--space) 0;
}

/*Button*/
.btn-container {
  height: var(--btn-container-height);
  width: var(--btn-container-width);
  align-self: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn {
  align-self: center;
  border-style: none;
  padding: var(--btn-padding);
  color: white;
  font-size: var(--btn-font-size);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
}
/*Start Button*/
.start-btn-container {
  background-color: var(--green-accent);
}

.start-btn {
  background-color: var(--green);
}
